.flatsList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    max-width: 200px;
}

.flatsItem {
    max-width: 300px;
    background-color: var(--mainColor);
    transition: transform var(--transitionProp);
    margin: auto;
}

/* .flatsItem {
    width: calc((100% - 20px) / 3);
    background-color: var(--mainColor);
    transition: transform var(--transitionProp);

} */

.flatsItem:hover,
.flatsItem:focus {
    transform: translateY(-10px);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .flatsList {}

    .flatsItem {

    }
}


@media screen and (min-width: 1024px) {
    .flatsItem {
        width: calc((100% - 10px) / 2);
        background-color: var(--mainColor);
        transition: transform var(--transitionProp);
        margin: 0;
        justify-content: center;
    }
}